/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/org1/*
organizations/fabric-ca/org2/*
organizations/fabric-ca/org3/*
organizations/fabric-ca/org4/*
organizations/fabric-ca/org5/*
organizations/fabric-ca/org6/*
organizations/fabric-ca/org7/*
organizations/fabric-ca/org8/*
organizations/fabric-ca/org9/*
organizations/fabric-ca/org10/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
fabcar.tar.gz
log.txt
