/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/org1/*
organizations/fabric-ca/org2/*
organizations/fabric-ca/org3/*
organizations/fabric-ca/org4/*
organizations/fabric-ca/org5/*
organizations/fabric-ca/org6/*
organizations/fabric-ca/org7/*
organizations/fabric-ca/org8/*
organizations/fabric-ca/org9/*
organizations/fabric-ca/org10/*
organizations/fabric-ca/org11/*
organizations/fabric-ca/org12/*
organizations/fabric-ca/org13/*
organizations/fabric-ca/org14/*
organizations/fabric-ca/org15/*
organizations/fabric-ca/org16/*
organizations/fabric-ca/org17/*
organizations/fabric-ca/org18/*
organizations/fabric-ca/org19/*
organizations/fabric-ca/org20/*
organizations/fabric-ca/org21/*
organizations/fabric-ca/org22/*
organizations/fabric-ca/org23/*
organizations/fabric-ca/org24/*
organizations/fabric-ca/org25/*
organizations/fabric-ca/org26/*
organizations/fabric-ca/org27/*
organizations/fabric-ca/org28/*
organizations/fabric-ca/org29/*
organizations/fabric-ca/org30/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
fabcar.tar.gz
log.txt
